force-app/main/default/flows/Lead_Conversion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Detail_Page_Navigation_3</name>
        <label>Detail Page Navigation 3</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <actionName>c:DetailPageNavigation3</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>AccountIdVar</name>
            <value>
                <elementReference>AccountIdVar</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:DetailPageNavigation3</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>CLoseDateAfterOneMonth</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 30</expression>
    </formulas>
    <interviewLabel>Lead Conversion {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead Conversion</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Account</name>
        <label>Create Account</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignRecordIdToReference>AccountIdVar</assignRecordIdToReference>
        <connector>
            <targetReference>Create_contact</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Get_Lead_records.Company</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordCreates>
        <name>Create_contact</name>
        <label>Create Contact</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Create_Opportunity</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>AccountIdVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Available_Capital_to_Invest__c</field>
            <value>
                <elementReference>Get_Lead_records.Available_Capital_to_Invest__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Do_you_have_P_C_Insurance_Sales_Experien__c</field>
            <value>
                <elementReference>Get_Lead_records.Do_you_have_P_C_Insurance_Sales_Experien__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>Get_Lead_records.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Have_you_ever_been_a_captive_Agent__c</field>
            <value>
                <elementReference>Get_Lead_records.Have_you_ever_been_a_captive_Agent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>How_did_you_hear_about_the_Assurean_fran__c</field>
            <value>
                <elementReference>Get_Lead_records.How_did_you_hear_about_the_Assurean_fran__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>In_what_state_would_you_operate_your_Ass__c</field>
            <value>
                <elementReference>Get_Lead_records.In_what_state_would_you_operate_your_Ass__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Get_Lead_records.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Please_tell_us_more_about_your_experienc__c</field>
            <value>
                <elementReference>Get_Lead_records.Please_tell_us_more_about_your_experienc__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Years_of_Insurance_Agency_experience__c</field>
            <value>
                <elementReference>Get_Lead_records.Years_of_Insurance_Agency_experience__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Opportunity</name>
        <label>Create Opportunity</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Lead_Conversion</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>AccountIdVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>CLoseDateAfterOneMonth</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Get_Lead_records.Company</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Awaiting Decision</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Lead_records</name>
        <label>Get Lead records</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Lead_Conversion</name>
        <label>Lead Conversion</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Detail_Page_Navigation_3</targetReference>
        </connector>
        <fields>
            <name>SuccessText</name>
            <fieldText>&lt;p&gt;Lead Converted Successfully&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Lead_records</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountIdVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AccountRecordVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>LeadRecord</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
